<?xml version="1.0" encoding="utf-8" ?>
<!-- Формат message и структуру PatternLayout менять нельзя, потому что текстовый файл .log разбирается парсером и ложится в созданную таблицу с уже установленной структурой  -->
<configuration>

	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<log4net>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="C://ProgramData//drvVesy10Service//drvVesy10.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="300" />
			<maximumFileSize value="1MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%date{dd-MM-yyyy HH:mm:ss,fff}] [%thread] [%-5level] [%class] [%method] - %message%newline" />
			</layout>
		</appender>

		<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
			<bufferSize value="1" />
			<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<connectionString value="data source=.;initial catalog=ApplicationLogs;integrated security=true;" />
			<commandText value="INSERT INTO ComIpPipeServiceLog ([date],[HostName],[thread],[level],[class],[method],[message]) 
						 VALUES (@log_date, @log_HostName, @log_thread, @log_level, @log_class, @log_method, @log_message)" />

			<parameter>
				<parameterName value="@log_date" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>

			<parameter>
				<parameterName value="@log_HostName" />
				<dbType value="String" />
				<size value="128" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{log4net:HostName}" />
				</layout>
			</parameter>

			<parameter>
				<parameterName value="@log_thread" />
				<dbType value="String" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%thread" />
				</layout>
			</parameter>

			<parameter>
				<parameterName value="@log_level" />
				<dbType value="String" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%-5level" />
				</layout>
			</parameter>

			<parameter>
				<parameterName value="@log_class" />
				<dbType value="String" />
				<size value="250" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%class" />
				</layout>
			</parameter>

			<parameter>
				<parameterName value="@log_method" />
				<dbType value="String" />
				<size value="250" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%method" />
				</layout>
			</parameter>

			<parameter>
				<parameterName value="@log_message" />
				<dbType value="String" />
				<size value="4000" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>

		</appender>		
		
		<root>
			<level value="ALL" />
			<appender-ref ref="RollingFileAppender" />
			<!--<appender-ref ref="AdoNetAppender" /> -->
		</root>
	</log4net>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>
